/* ------------------------ Styles for all Pages ---------------------- */
html {
  box-sizing: border-box; 
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 300px;
}

h1 {
  font-size: 100px;
  line-height: 1.3;
}

h2 {
  font-size: 45px;
}

h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

h3 {
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}

/* ------------------------ Main Page ---------------------- */
header {
  background: url(../Smith/images/bUnKEY.jpg);
  color: #f7fff7;
}

.h2 {
  color: #343434;
}

.Background {
  background-position: center;
}

/* ------------------------ Second Page ---------------------- */
.image {
  background: #fafad2;
}

.text {
  color: #343434;
  text-align: justify;
}

.image-item {
  overflow: hidden;
}

.image-item h3 {
  margin-top: 0;
}

/* ------------------------ Responsive ---------------------- */
@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .image-item img {
    float: left;
    margin-right: 20px;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
}
